h1.titulo {
    text-align: center;}
body p {
    font-family: serif;
}
#primer-parrafo {
    background-color: #CEE;
}
#primer-parrafo em {
    color: #933;
}
a {
    outline: 1px solid #333;
}
body p.fuente.parrafo {
    opacity: 100%;
}
p:not([id]) {
    background-color: rgba(190, 120, 240, 0.6);
}
body p.fuente.parrafo {
    color: #000;
}
.complicado {
    font-weight: bold;
    color: #C62;
}
